@media (max-width: 1024px) {

    h1 {
        font-size: 1.9em;
    }

    main > section {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
    }

    main > section > article:first-of-type {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    main > section > article > div > img {
        margin-bottom: 1em;
    }

    footer > article h1 {
         margin-bottom: 2em;
    }

    footer > span {
        grid-column: 1/3;
    }
    
}

@media (max-width: 768px) {

    h1 {
        font-size: 1.4em;
    }

    header {
        grid-template-rows: 10vh;
    }

    main > section > article > div > img {
        margin-bottom: 1em;
    }
    
}

@media (max-width: 576px) {

    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    header > nav > ul:last-of-type {
        display: none;
    }

    header > nav > ul:first-of-type {
        display: block;
        width: 2em;
        float: right;
    }

    main > section > article > div > img {
        margin-bottom: 1em;
    }

    main > section > article {
        grid-column: 1/3;
    
    }

    footer {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr;
        gap: 0;
        row-gap: 1.5em;
        padding-bottom: 5%;
    }

    footer > article > div {
        justify-content: start;
    }

    footer > article:first-of-type {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    footer > article:last-of-type {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    footer > article h1 {
        margin-bottom: 1em;
    }

    footer > span {
        grid-column: 1/4;
        grid-row: 4/5;
        font-size: 0.9em;
        margin-bottom: 5%;
    }
}